<div class="rule-app">

  <div class="row1 ">
    <div class="b1">
      <h1> Thiết lập bàn cơ bản</h1>
      <p>
        
      </p>
      <img src ="../../../assets/rule/RULE_1/buoc1.png" alt="">
    </div>
    <div class="b2">
      <img src ="../../../assets/rule/RULE_1/b2.png" alt ="">
    </div>
    <div class="b3">
      <div class = "b3.1">
        <img src ="../../../assets/rule/RULE_1/b3.1.png" alt ="" alt ="">
      </div>
      
    </div>
    <div class="item">4</div>
    <div class="item">5</div>
  </div>
  
  <div class="row">

  </div>

</div>
