<div class="rule-app">
  <h1> Luật Chơi Cờ Vua</h1>

  <div class="row-slider-container">
    
    
       
    <div class="left-slide">
      <div style ="background-color: #89e8c5 ;">
        <h1> Bước 1: Thiết lập bàn cờ cơ bản</h1>
        <p>  Bàn cờ được sắp xếp để mỗi đấu thủ đều có ô trắng (hoặc ô màu nhạt) ở góc dưới tay phải.</p>
        <img src ="../../../assets/rule/RULE_1/buoc1.png" alt=""> 
      </div>
      <div style ="background-color: #89e8c5 ;">
        <h1> Bước 2: Các quân trong bài cờ  </h1>
        <p>  Bàn cờ được sắp xếp để mỗi đấu thủ đều có ô trắng (hoặc ô màu nhạt) ở góc dưới tay phải.</p>
        <img src ="../../../assets/rule/RULE_1/b2.png" alt=""> 
      </div>
      <div style ="background-color: #89e8c5 ;">
        <h1> Bước 3: Vị trí   </h1>
        <p>  Đặt một quân xe vào mỗi ô góc của bạn</p>
        <img src ="../../../assets/rule/RULE_1/b3.1.png" alt=""> 
        <p>  Đặt quân Mã cạnh quân Xe</p>
        <img src ="../../../assets/rule/RULE_1/b3.2.png" alt=""> 
        <p>  Đặt quân Tượng cạnh quân Mã</p>
        <img src ="../../../assets/rule/RULE_1/b3.3.png" alt=""> 
        <p>  Đặt quân Hậu vào ô có màu trùng với nó</p>
        <img src ="../../../assets/rule/RULE_1/b3.4.png" alt=""> 
        <p>  Đặt quân Vua ở ô cuối cùng</p>
        <img src ="../../../assets/rule/RULE_1/b3.5.png" alt=""> 
        <p>  Đặt quân Tốt lên hàng thứ hai</p>
        <img src ="../../../assets/rule/RULE_1/b3.6.png" alt=""> 
        <div style ="background-color: #89e8c5 ;">
          <h1> Bước 4: Cách di chuyển các quân cờ</h1>
          <div style="background-color: #e5f0ec ;">
            <h1> Quân Tốt</h1>
            <p>Quân cờ cơ bản nhất trong cờ vua (mỗi bên có 8 quân Tốt). Trong lần di chuyển đầu tiên, Tốt có thể tiến về phía trước một hoặc hai ô, nhưng chỉ được tiến lên một ô trong các lần sau đó. Tốt chỉ tấn công được các quân khác nằm chéo về phía trước một ô và không thể đi lùi.</p>
            <img src ="../../../assets/rule/RULE_2/TÔT1.png" alt=""> 
            <p> Tốt ăn theo đường chéo cùng màu</p>
            <img src ="../../../assets/rule/RULE_2/TÔT2.png" alt=""> 
          </div>
          <div style="background-color: #e5f0ec ;">
            <h1> Quân Xe</h1>
            <p>Nó có thể đi ngang hoặc đi dọc tùy ý nếu không bị cản. Xe có thể tấn công các quân nằm trên đường đi của nó. Cách ăn của quân xe cũng giống như cách nó di chuyển vậy.
            </p>
            <img src ="../../../assets/rule/RULE_2/XE.png" alt=""> 
          </div>
          <div style="background-color: #f0e5ea ;">
            <h1> Quân Mã</h1>
            <p>Mã đi theo hình chữ ‘L’ được tạo bởi hai ô ngang và một ô dọc, hoặc một ô ngang và hai ô dọc, chữ ‘L’ này có thể ngả theo mọi hướng. Mã là quân duy nhất có thể nhảy qua đầu các quân khác. Nó chỉ tấn công những quân nằm trong các ô mà nó có thể nhảy tới. Cách ăn quân của nó cũng giống cách di chuyển.
            </p>
            <img src ="../../../assets/rule/RULE_2/MA.png" alt=""> 
          </div>
          <div style="background-color: #6b298f ;">
            <h1> Quân Tượng</h1>
            <p>Di chuyển theo những đường chéo. Có thể đi tiến hoặc lùi. Quân Tượng không giới hạn các ô chi chuyển trên đường chéo. Quân Tượng không thể nhảy qua các đầu quân khác.
            </p>
            <img src ="../../../assets/rule/RULE_2/TUONG.png" alt=""> 
          </div>
          <div style="background-color: #35298f ;">
            <h1> Quân Hậu</h1>
            <p>Hậu là quân quyền lực nhất trên bàn cờ (thường có vương miện nữ tính hơn quân Vua). Nó có thể đi ngang, dọc, hoặc chéo tùy ý và tấn công theo mọi hướng.
            </p>
            <img src ="../../../assets/rule/RULE_2/HÂU.png" alt=""> 
          </div>
          <div style="background-color: #35298f ;">
            <h1> Quân Vua</h1>
            <p>Vua chỉ có thể đi một ô mỗi lượt, di chuyển theo mọi hướng. Cách quân Vua tấn công cũng tương tự như vậy. Đây là quân cờ mà bạn bằng mọi giá không thể để mất, vì bạn sẽ thua cuộc nếu mất Vua.
            </p>
            <img src ="../../../assets/rule/RULE_2/VUA.png" alt=""> 
          </div>
          
        </div>

      <div style ="background-color: #89e8c5 ;">
          <h1> Luật Chơi</h1>
          <p>  Ván cờ được bắt đầu giữa hai đấu thủ bằng cách luân phiên nhau di chuyển các quân cờ trên một bàn hình vuông có kích thước 8x8 ô gọi là bàn cờ.
            Quân cờ trắng sẽ đi nước cờ đầu tiên của ván cờ.</p>
          <img src ="../../../assets/rule/RULE_2/LCHOI.png" alt=""> 
          <p>Mỗi khi một đấu thủ thực hiện lượt đi xong thì đấu thủ còn lại mới được thực hiện lượt đi của mình. </p>
          <p>Mục tiêu của mỗi đấu thủ là tấn công vua của đối phương sao cho vua của đối phương không thể di chuyển đúng luật bước nào để thoát khỏi thế chiếu gọi là "chiếu bí". Người chơi "chiếu bí" được đối phương là người chơi chiến thắng.
          </p>
      </div>

      <div style ="background-color: #89e8c5 ;">
        <h1> Luật Chơi nâng cao</h1>
        <h2>Phong cấp</h2>
        <p>Khi tốt tiến tới hàng ngang cuối cùng của đối phương có thể được phong cấp thành hậu, xe, tượng, mã ngay trong nước cờ này. Đồng thời không có giới hạn về số lượng quân tốt được phong cấp.
        </p>
        <img src ="../../../assets/rule/RULE_2/PHONGCAP.png" alt=""> 
        <h3>Nhập thành</h3>
        <p>trong trường hợp xe và vua chưa di chuyển lần nào, khoảng cách giữa 2 quân cờ không có quân cờ khác thì vua và xe có thể đổi vị trí cho nhau một lần. Vua có thể di chuyển sang bên trái hoặc phải 2 ô, sau đó xe di chuyển nhảy qua vua tới ngay cạnh ô cờ của quân vua. Trong mỗi ván cờ mỗi người chỉ có cơ hội nhập thành một lần duy nhất.
        </p>
        <h4> Lưu ý</h4>
        <p>
          - Đang bị chiếu thì không được nhập thành.
          - Bạn không được nhập thành nếu Vua đi qua ô bị đối phương khống chế (ô đó nằm trong nước ăn của quân đối phương).
        </p>
        <h5>Bắt Tốt qua đường</h5>
        <p>khi tốt đối phương từ vị trí ban đầu tiến hai ô vượt qua ô cờ đang bị tốt bên có lượt đi kiểm soát, thì tốt bên có lượt đi có thể bắt tốt đối phương vừa đi hai ô như khi tốt đó thực hiện nước đi một ô. Nước bắt này chỉ có thể thực hiện ngay sau nước tiến tốt hai ô và được gọi là "bắt tốt qua đường".
        </p>
        <img src ="../../../assets/rule/RULE_2/BATTOT.png" alt=""> 
      </div>

      <div style ="background-color: #741e25 ;">
        <h1>Kết thúc ván cờ</h1>
        <div style = "background-color: #070785;">
          <h1>Thắng cờ</h1>
          <h2> a. Chiến thắng theo Luật</h2>
            <p> Bạn sẽ thắng khi bạn chiếu hết đối phương.
              - Bạn sẽ thắng khi đối phương xin thua.</p>
          <h3> Chiến thắng về thời gian</h3>
              <p>Người chơi sẽ thắng khi đối phương hết giờ quy định mà chưa thể chiếu hết.
                - Người chơi giành chiến thắng đối phương không hoàn tất nước cờ trong khoảng thời gian nhất định.
                </p>
        </div>
        <div style ="background-color: #070785 ;">
          <h1> Các trường hợp hòa của cờ vua</h1>
          <h2> a. Hòa 50 nước</h2>
          <p>Luật cờ vua quy định, trong vòng 50 nước đi mà không có quân nào bị bắt, không có nước tốt nào được đi thì ván cờ đó hòa ().
          </p>
          <h3>b. Hòa về lực lượng</h3>
            <p>Một ván cờ hòa khi không bên nào đủ lực lượng để chiến thắng, cụ thể khi lực lượng 2 bên còn lại như sau:
              - Vua - Vua
              - Vua + Mã - Vua
              - Vua + Tượng - Vua
            </p>
          <h4>c. Hòa do hết nước đi</h4>
            <p> xảy ra trong trường hợp khi bên đến lượt đi hết nước đi hợp lệ, nhưng Vua lại không bị chiếu. Đây là lỗi rất hay gặp trong thi đấu cờ vua, kể cả những vận động viên chuyên nghiệp. </p>
            
          <h5> d. Hòa do 2 bên thỏa thuận đồng ý hòa</h5>
            <p> Khi đến lượt bạn đi, bạn có quyền đề nghị đối phương hòa. Nếu đối phương chấp nhận, ván cờ sẽ được xử hòa. Nhưng nếu đối phương từ chối lời đề nghị hòa của bạn thì ván cờ sẽ tiếp tục.
            </p>

         
        </div>
   

        

    </div>

    <div class="right-slide"></div>
    <div class="action-buttons"></div>
      <button class="down-button">
        <i class = "fas fa-arrow-down"></i>
      </button>
        <button class="up-button">
        <i class = "fas fa-arrow-up"></i>
      </button>
  </div>
</div>
</div>
